body {
  color: #292929;
  font: 1em/1.7 'Open sans', sans-serif;
}

/* type styles */
blockquote {
  font: italic 1.1em/2 'Playfair Display', serif;
  margin: 0 0 2em 0;
}

/* cta */
.cta {
  padding: 100px 0 100px 20%;
}

.cta h1 {    
  font: bold 6em/1 'Playfair Display', serif;
  margin: 0 0 20px 0;
  position: relative;
}

/* button styles*/
.button {
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #292929;
  padding: .8em 1.5em;
}

.button:hover {
  background: black;
}

/*
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg
*/

/* strapline + blockquote */


/* heading */



/* grid layout */
.grid1{
  display: grid;
  grid-template-columns:94fr 187fr 30fr 157fr 314fr 64fr ;
  grid-template-rows: 38px auto 10px auto auto ;
}
.img1{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wooden.jpg)
  no-repeat left top / cover;
  grid-column: 1/span 2;
  grid-row: 2/ span 3;
}
.img2{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/speaker.jpg)
  no-repeat left top / cover;
  grid-column: 2/span 2;
  grid-row: 3/ span 3;
}
.img3{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/waves.jpg)
  no-repeat left top / cover;
  grid-column: 5/span 2;
  grid-row: 4/ span 2;
}
.strapline{
  grid-column: 3/span 3;
  grid-row: 2/ span 1;
  padding: 0 16%;
  text-align: center;
  position: relative;
}
.cta-wrapper{
  grid-column: 4/ -1;
  grid-row: 4/ -1;
  height: 500px;
  padding: 100px 0 0 150px;
}

.strapline::before{
  content: '';
  width: 20%;
  position: absolute;
  height: .5em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/wavy.svg)
  repeat-x center center/cover;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.cta-wrapper h1 {
  position: relative;
  font-size: 6em;
}
.cta-wrapper h1::before {
  content: '';
  width: 1em;
  height: 1em;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/badge.svg)
  no-repeat center center/80%;
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;

}

